<h1>Now your result...</h1>

<p>Your guess: <%= @guess %></p>

<h2>Details</h2>
<ul>
  <li>Elapsed time: <%= @result[:time] %> seconds</li>
  <li>You scored: <%= @result[:score] %> points </li>
  <li><%= @result[:message] %></li>
</ul>
